* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", "Open Sans-fallback", sans-serif;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 4px;
  border-radius: 20px;
  background-color: rgb(37, 99, 235);
}